.color-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.color-search-panel {
  width: 400px;
  height: 160px;
  border: 1px solid #ccc;
  position: fixed;
  top: 65px;
  right: 26%;
  z-index: 100;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #475569;
  background-color: #faf9f7;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.15),
    0 0 20px rgba(0, 0, 0, 0.08);
  position: fixed;
  z-index: 100;
}

.preset-colors {
  display: flex;
  gap: 13px;
  margin-bottom: 16px;
  justify-content: center;
}

.color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.color-chip {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e2e8f0;
  cursor: pointer;
  transition: transform 0.2s;
}

.color-chip:hover {
  transform: scale(1.1);
  border-color: #94a3b8;
}

.color-name {
  font-size: 12px;
  color: #475569;
}

.color-input {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.input-label {
  font-size: 14px;
  color: #64748b;
}

.color-code-picker {
  display: flex;
  gap: 8px;
  align-items: center;
}

.color-code-input {
  /* flex: 1; */
  padding: 6px 10px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 14px;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-picker {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.picker-label {
  font-size: 14px;
  color: #475569;
}

.selected-color-display {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  padding: 12px;
  background-color: #f8fafc;
  border-radius: 6px;
  justify-content: space-between;
}
.display-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color-preview-box {
  width: 40px;
  height: 40px;
  border: 2px solid #e2e8f0;
  border-radius: 6px;
}

.selected-text {
  /* flex: 1; */
  font-size: 14px;
  color: #475569;
}
