.header {
  padding: 1rem 2rem;
  display: flex;
  background-color: #b0b1df;
  justify-content: space-between;
}

.site-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #282f3a;
}

.search-content {
  display: flex;
  gap: 1rem;
}

.search-button {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #c3c4f1;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #475569;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #fbf8fc;
  border-color: #c3c4f1;
}
