/* AppLayout */
.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: #f0ebf1;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  overflow: hidden;
}

.left-Panel {
  width: 60%;
  overflow: hidden;
  background-color: aliceblue;
}

.right-Panel {
  width: 40%;
  background-color: rgb(243, 255, 240);
  height: calc(100vh - 90px);
  padding: 1rem;
}

/* ヘッダー */
.header {
  background-color: rgb(250, 242, 232);
  border-bottom: 1px solid #e5e7eb;
  padding: 0 2rem;
  /* padding: 0.8rem 2rem; */
}

.site-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.header .container {
  display: flex;
  width:calc(60% - 1rem);
  align-items: center;
  justify-content: space-between;
}

.month-select-button {
  padding: 8px 16px;
  background-color: #fbf8fc;
  border: 1px solid #c3c4f1;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #475569;
  transition: all 0.2s;
}

.month-select-button:hover {
  background-color: #f5f1f9;
  border-color: #c3c4f1;
}
