.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 24px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.greenModal-title-content {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 15px;
}

.greenModal-title {
  font-size: 25px;
}

.greenModal-overview {
  font-size: 15px;
}

.modal-slider-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.greenFlower-name {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.modal-info {
  text-align: center;
  margin-bottom: 12px;
}

.selected-period {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.selected-season {
  font-size: 16px;
  font-weight: bold;
  color: #695bd6;
}

.modal-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.modalPage-buttons {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  /* gap: 12px; */
  justify-content: flex-end;
}

.modal-button {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.modal-button.cancel {
  background-color: #f3f4f6;
  color: #374151;
}

.modal-button.cancel:hover {
  background-color: #e5e7eb;
}

.modal-button.apply {
  /* background-color: rgb(103, 192, 162); */
  background-color: #84c890;
  color: white;
}

.modal-button.apply:hover {
  background-color: rgb(80, 152, 128);
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  align-items: stretch;
}

.modal-card {
  background-color: #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1rem;
}

.modal-card:hover {
  background-color: rgb(201, 200, 200);
}

.modal-card.selected {
  background-color: #d0f0d655;
}

.modalPage-content {
  background-color: #666;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* これがあるから、開花時期フィルタリングの背景が半透明じゃなくなった */
/* .modal-overlay {
  background-color: #b9b7b7;
} */