.no-select {
  display: flex;
  justify-content: center;
  color: darkolivegreen;
}

.right-panel-container {
  /* ヘッダー分を抜かす必要がある */
  height: calc(100vh - 90px);
  background-color: #f3f4f6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header-section {
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}
.main-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag-item {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  color: #374151;
  border: none;
}

.tag-item:hover{
  background-color: rgb(229, 229, 229);
}

.color-tag-item {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  color: #374151;
}

.cards-scroll-container {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
  min-height: 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: stretch;
}

/* @media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.flower-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.flower-name {
  margin-bottom: 0.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
}

.flower-content {
  margin-bottom: 1rem;
}

.flower-meanings {
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

.save-button {
  white-space: nowrap;
  background-color: #8f3bf6b8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-button:hover {
  background-color: #732dc9;
}

/* .flower-info {
  margin-bottom: 1.5rem;
} */

.flower-image-container {
  border: 2px solid #d1d5db;
  border-radius: 0.75rem;
  height: 12rem;
  overflow: hidden;
  background-color: #f9fafb;
  margin-top: auto;
}

.flower-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
