.no-select {
  display: flex;
  justify-content: center;
  color: #323b49;
}

.right-panel-container {
  /* ヘッダー分を抜かす必要がある */
  height: calc(100vh - 90px);
  /* background-color: #f3f4f6; */
  background-color: #faf9f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header-section {
  flex-shrink: 0;
  margin-bottom: 1rem;
}
.main-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #323b49;
}

.tags-container-wrapper {
  position: relative;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2px 0;
  padding-left: 2px;
  overflow: hidden;
}

.tags-container.collapsed {
  max-height: 40px;
}

.tags-container.expanded {
  max-height: 500px;
}

.toggle-button {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 1;
  padding: 0.5rem 0.6rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border: none;
  display: flex;
  justify-content: center;
}

.toggle-button.expanded {
  background-color: #323b49;
  color: white;
}

.toggle-button.collapsed {
  background-color: white;
  color: #374151;
}

.tag-item {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  color: #374151;
  border: none;
}

.tag-item:hover {
  background-color: rgb(229, 229, 229);
}

.color-tag-item {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  color: #374151;
}

.cards-scroll-container {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
  min-height: 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: stretch;
  margin-bottom: 5px;
}

/* 効いてない、カードのサイズ設定できてないから */
@media (max-width: 800px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.flower-card {
  background-color: white;
  color: #374151;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 1.5rem; */
  padding: 0 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.flower-name {
  margin-bottom: 0.5rem;
  min-height: 3.2rem;
  display: flex;
  align-items: center;
}

.flower-content {
  margin-bottom: 1rem;
}

.flower-meanings {
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

.flower-info {
  display: flex;
  align-items: center;
}

.overview-text {
  font-size: 14px;
}
.save-button {
  white-space: nowrap;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-button.in-cart {
  background-color: rgba(128, 128, 128, 0.834);
  border: 1px solid;
}

.save-button.not-in-cart {
  background-color: #9883d5;
  border: 1px solid #475569;
}

.flower-image-container {
  border: 2px solid #d1d5db;
  border-radius: 0.75rem;
  height: 12rem;
  overflow: hidden;
  background-color: #f9fafb;
  margin-top: auto;
  /* position: relative; */
  /* margin-bottom: 1.5rem; */
}

.flower-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.credit {
  font-size: 10px;
  color: #323b49bd;
  height: 1.5rem;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.credit-text {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
