* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
}

.section {
  background-color: #faf9f7;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sidebar-panels {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 60px);
  padding-right: 1.5rem;
}
