@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
    /* color: #5d4037; */
    color: #0e4037;
  }
}

@layer components {
  .btn {
    @apply px-3 py-1.5 bg-yellow-500 text-white text-xs rounded cursor-pointer border-none transition-colors;
  }

  .btn:hover {
    @apply bg-yellow-900;
  }
}